@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,500&family=Great+Vibes&family=Kanit:ital,wght@1,300&family=Lobster&family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,400;1,500;1,600;1,800&family=Raleway:wght@300;400;500&family=Roboto:wght@300;500;700&family=Sedgwick+Ave+Display&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

nav.navbar {
    display: flex;
    background-color: #E1EDE6;
    align-items: center;
    height: 100px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

.navbar .icon {
    margin-left: 165px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 497px;
    gap: 60px;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #2c2d35;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500px;
    transition: color 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: #008000;
    transition: color 0.3s ease-in-out;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .right {
    margin-right: 165px;
    padding-bottom: 145px;
}

.main .left img {
    max-width: 100%;
    margin-left: 165px;
    margin-bottom: 120px;
}

.main .right h1 {
    color: #2c2d35;
    font-size: 60px;
    line-height: 110%;
    font-weight: 500;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 30px;
}

.main .right p {
    color: #86928b;
    margin-bottom: 60px;
    line-height: 150%;
    font-size: 18px;
    margin: 0;
    margin-left: 30px;
    font-weight: 500;
}

.main .right .btn {
    color: #008000;
    background-color: transparent;
    border: 1px solid #598d66;
    width: 225px;
    font-size: 20px;
    padding: 20px 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 50px;
    margin-left: 30px;
}

.main .right .btn:hover {
    color: #fff;
    background-color: #598d66;
    transition: all 0.3s ease-in-out;
}

.reproductions .title {
    color: #2C2D35;
    font-size: 20px;
    font-style: normal;
    line-height: 110%;
    margin-left: 165px;
}

.catalog-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.lists {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-right: 240px;
}

.list-btn {
    color: #fff;
    background-color: #008000;
    border-radius: 20px;
    padding: 10px 21px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in;
}

.list-btn-active {
    color: #fff;
    background-color: #008000;
    border-radius: 1rem;
    padding: 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border: none;
}

.list-btn:hover {
    color: #fff;
    background-color: #008000;
    transition: all 0.3s ease-in;
}

.product {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #e1ede6;
    width: 350px;
    height: 730px;
    margin-left: 1px;
    margin-bottom: 60px;
}

.catalog-list {
    margin-left: 165px;
    list-style: none;
    row-gap: 30px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.catalog-list-item img {
    margin-top: 20px;
    margin-left: 20px;
}

.product-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 16px;
    padding-bottom: 10px;
}

.product-author {
    color: #86928b;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
    margin-left: 20px;
}

.product-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #2c2d35;
    margin-left: 20px;
}

.product-props {
    margin-bottom: 30px;
    color: #2c2d35;
    font-size: 18px;
    line-height: 21px;
    margin-left: 20px;
}

.product-price {
    font-size: 24px;
    line-height: 28px;
    color: #598d66;
    margin-left: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.add-to-card {
    margin-top: auto;
    color: #008000;
    width: 310px;
    height: 65px;
    background-color: transparent;
    border: 1px solid #598d66;
    font-size: 20px;
    padding: 20px 40px;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 20px;
}

.add-to-card:hover {
    color: #fff;
    background-color: #598d66;
    transition: all 0.3s ease-in-out;
}

.catalog-list_hide {
    display: none !important;
}

.newbies {
    position: relative;
    overflow: hidden;
    padding-top: 66px;
    padding-bottom: 73px;
    background-image: url(assets/newbies-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.newbies__title {
    position: relative;
    z-index: 5;
    margin-bottom: 16px;
    padding-left: 100px;
    max-width: 521px;
    color: #fff;
    background-image: url(assets/Star\ 2.png);
    background-position: left center;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    font-size: 40px;
    font-weight: 500;
}

.newbies__content {
    position: relative;
    z-index: 5;
    margin-bottom: 60px;
    max-width: 540px;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}

.newbies__descr {
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
}

.newbies::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: rgba(13, 43, 67, 0.8);
    mix-blend-mode: multiply;
    filter: blur(315px);
}

.newbies__link {
    position: relative;
    z-index: 5;
    width: 210px;
    /** 257 */
    text-decoration: none;
}

.btn--fill {
    color: #2c2d35;
    background-color: #eedb6d;
}

.btn {
    display: inline-block;
    outline: none;
    border: 1px solid transparent;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.newbies__link:hover {
    background-color: #faeb97;
}

.about {
    padding: 70px 0;
}

.about__image {
    grid-column: 5 span;
}

.about__content {
    padding-top: 123px;
    grid-column: 7 span;
}

.about__title {
    margin-bottom: 20px;
}

.about__descr {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 150%;
    color: black;
    font-weight: 500;
}

.about__team {
    display: flex;
    align-items: center;
}

.about__item:not(:last-child) {
    margin-right: 30px;
}

.special-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
}

.about__title {
    font-size: 40px;
    font-weight: 500;
}

.about__item {
    border-radius: 80px;
}

.footer {
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #e1ede6;
}

.footer__left {
    margin-right: 115px;
}

.footer__container {
    display: flex;
}

.footer-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 33px;
}

.footer-phone__link {
    position: relative;
    z-index: 5;
    outline: none;
    display: inline-block;
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 23px;
    color: #2c2d35;
    transition: color 0.3s ease-in-out;
}

.footer-phone__link::after {
    content: "";
    position: absolute;
    left: -6px;
    right: -6px;
    top: -5px;
    bottom: -5px;
    z-index: -1;
    background-color: #598d66;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.footer-phone__link:focus {
    color: #2c2d35;
}

.footer-phone__link:focus::after {
    opacity: 1;
}

.footer-phone__link:hover {
    color: #598d66;
}

.footer-phone__link:active {
    color: #376b44;
}

.footer-phone__text {
    font-size: 18px;
    line-height: 21px;
    color: #86928b;
}

.footer__right {
    display: flex;
    flex-grow: 1;
}

.footer-menu {
    display: flex;
    margin-right: auto;
}

.footer-props {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-menu__col:not(:last-child) {
    margin-right: 63px;
}

.footer-menu__title {
    margin: 0;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2c2d35;
}

.footer-menu__item:not(:last-child) {
    margin-bottom: 5px;
}

.footer-menu__link {
    position: relative;
    outline: none;
    z-index: 5;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    transition: color 0.3s ease-in-out;
}

.footer-menu__link::after {
    content: "";
    position: absolute;
    left: -6px;
    right: -6px;
    top: -5px;
    bottom: -5px;
    z-index: -1;
    background-color: #598d66;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.footer-menu__link:focus {
    color: #2c2d35;
}

.footer-menu__link:focus::after {
    opacity: 1;
}

.footer-menu__link:hover {
    color: #598d66;
}

.footer-menu__link:active {
    color: #376b44;
}

.social {
    display: flex;
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 30px;
}

.social__link {
    position: relative;
    outline: none;
    display: block;
    width: 24px;
    height: 24px;
    color: #2c2d35;
    transition: color 0.3s ease-in-out;
}

.social__link::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    border-radius: 2px;
    background-color: #d4e8d9;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.social__link svg {
    position: relative;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
    object-fit: cover;
}

.social__link:focus {
    color: #598d66;
}

.social__link:focus::after {
    opacity: 1;
}

.social__link:hover {
    color: #598d66;
}

.social__link:active {
    color: #376b44;
}

.footer__copyright {
    margin: 0;
    padding-top: 11px;
    padding-right: 29px;
    font-size: 12px;
    line-height: 120%;
    color: #86928b;
}

.footer__copyright span {
    margin-top: 6px;
    display: block;
}

.stop-scroll {
    overflow: hidden;
}

.footer a {
    text-decoration: none;
}

.footer ul {
    list-style-type: none;
}